.breadcrumbs{
	&__list{
		display: flex;
		justify-content: flex-end;
		padding: 0;
		margin: 0;
		list-style: none;
		color:#d1d1d1;
	}
	&__link:hover{
		color:#d1d1d1;
		
	}
	&__item::after{
		content: '/';
		margin: 0 4px 0 -4px;
	}
	&__item:last-child::after {
		display: none;
	}

}