.offer {
    font-family: $roboto;
    min-height: 1356px;
    padding: 76px 0 0 0;
    &__title {
        color: #000000;
        font-size: 30px;
        line-height: 40px;
        font-family: $serif;
        font-weight: 700;
    }
    &__wrapper {
        margin-top: 40px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    &__card {
        position: relative;
        width: 256px;
        height: 256px;
		  overflow: hidden;
		  border-radius: 5px;
		  &:hover img {
			  transition: 1s;
			  transform: scale(1.2);
		  }
        &-title {
            padding: 0 28px 0 0;
            position: absolute;
            top: 16px;
            left: 16px;
            font-size: 18px;
            font-weight: 500;
            color: #FFFFFF;
        }
        &-price {
            position: absolute;
            bottom: 16px;
            left: 16px;
            font-size: 16px;
            color: #FFFFFF;
        }
    }
    &__card-big {
        width: 544px;
        height: 544px;
        .offer__card-title {
            font-size: 24px;
        }
    }
    &__card-gallery {
        a {
            top: 50%;
            transform: translateY(-50%);
            left: 21%;
            font-family: $roboto;
            font-size: 24px;
            line-height: 130%;
        }
    }
    &__card-big {
        grid-column: 3/5;
        grid-row: 1/3;
    }
}