.container {
    max-width: 1120px;
    margin: 0 auto;
}

@import 'mixins';
@import 'buttons';
@import 'header';
@import 'tour';
@import 'carousel';
@import 'workdir';
@import 'offer';
@import 'history';
@import 'gallery';
@import 'relax';
@import 'form';
@import 'footer';
@import 'pageup';
@import 'media';
* {
    font-family: $roboto;
}